body {
    margin: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(16, 16, 29, 0.9);
    max-height: 100px;
    padding: 30px 30px;
}

.header__company-name {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
}

.header__company-name .blue-text {
    color: rgba(62, 156, 220, 1);
}

.header__navigation {
    font-family: "Lato", sans-serif;
    font-size: 13px;
}

.header__navigation-link {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    margin-left: 25px;
    position: relative;
}

.header__navigation-link::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: rgba(255, 255, 255, 1);
    transition: width 0.5s;
}

.header__navigation-link:hover::after {
    width: 100%;
}

.header__navigation-link.blue-text {
    color: rgba(62, 156, 220, 1);
}




.content__image {
    width: 100%; 
}