body {
    margin: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(16, 16, 29, 0.9);
    max-height: 100px;
    padding: 30px 30px;
    z-index: 5;
}

.header__company-name {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
}

.header__company-name .blue-text {
    color: rgba(62, 156, 220, 1);
}

.header__navigation {
    font-family: "Lato", sans-serif;
    font-size: 13px;
}

.header__navigation-link {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    margin-left: 25px;
    position: relative;
}

.header__navigation-link::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: rgba(255, 255, 255, 1);
    transition: width 0.5s;
}

.header__navigation-link:hover::after {
    width: 100%;
}

.header__navigation-link.blue-text {
    color: rgba(62, 156, 220, 1);
}




.content__image {
    width: 100%;
}

.content__content {
    position: absolute;
    top: 50%;
    left: 43%;
    transform: translate(-50%, -50%);
}

.content__title {
    font-family: "Raleway", sans-serif;
    color: rgba(0, 0, 0, 1);
    font-size: 48px;
    font-weight: 700;
}

.content__title .blue-text {
    color: rgba(62, 156, 220, 1);
}

.content__additional-info {
    margin-top: 100px;
    margin-bottom: 75px;
}

.content__subtitle {
    font-family: "Lato", sans-serif;
    font-size: 20px;
}


.content__list {
    list-style-type: none;
    margin-left: -30px;
}


.content__list-item {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 1);
}


.content__button--order {
    font-family: "Lato", sans-serif;
    background-color: rgba(62, 156, 220, 1);
    width: 183px;
    height: 43px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 1);
    font-size: 13px;
    color: rgba(255, 255, 255, 1);
}


.content__button--details {
    font-family: "Lato", sans-serif;
    background-color: rgba(255, 255, 255, 1);
    width: 183px;
    height: 43px;
    border-radius: 4px;
    border: 1px solid rgba(42, 43, 48, 1);
    font-size: 13px;
    color: rgba(42, 43, 48, 1);
    margin-left: 30px
}



.form__content {
    background-color: rgba(39, 39, 51, 1);
}


.form__content-photo {
    width: 100%;
}

.form-text__title {
    font-family: 'Lato', sans-serif;
    font-size: 36px;
    color: rgba(255, 255, 255, 1);
}

.form-text__title .blue-text {
    color: rgba(62, 156, 220, 1);
}

.form-text__description {
    font-family: 'Lato', sans-serif;
    color: rgba(187, 187, 187, 1);
}


form__features {
    display: flex;
}

.feature {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    color: rgba(62, 156, 220, 1);
    background-color: rgba(62, 156, 220, 1);
    border: 5px solid rgba(40, 102, 144, 1);
}

.feature__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.feature__description {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}